@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

:root {
    --orange: hsl(25, 97%, 53%);
    --white: hsl(0, 0%, 100%);
    --lightGrey: hsl(217, 12%, 63%);
    --mediumGrey: hsl(216, 12%, 54%);
    --darkBlue: hsl(213, 19%, 18%);
    --veryDarkBlue: hsl(216, 12%, 8%);
    --greyBubble: hsl(215, 18%, 19%);
    --fontOverpass: 'Overpass', sans-serif;
}

* {
    font-family: var(--fontOverpass);
}

body {
    display: flex;
    background-color: var(--veryDarkBlue);
    font-size: 15px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;

}

.card {
    background: rgb(38,48,60);
    background: linear-gradient(137deg, rgb(30,34,43) 0%, rgb(25,29,38) 100%);
    border-radius: 20px;
    padding: 30px;
    width: fit-content;
    max-width: 350px;
    flex-flow: column;
}

#card2 {
    display: none;
    align-items: center;
}

.circle {
    display: flex;
    background-color: var(--greyBubble);
    color: var(--lightGrey);
    min-width: 15px;
    width: fit-content;
    padding: 15px;
    border-radius: 25px;
    justify-content: center;
}

.rating {
    border: 0;
    width: 50px;
}

.rating:hover {
    background-color: var(--orange);
    color: var(--white);
    cursor: pointer;
}

.rating:focus {
    color: var(--white);
    background-color: var(--mediumGrey);
}

.ratings {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 20px;
}

h1 {
    color: white;
}

p {
    color: var(--mediumGrey);
}

#card2>p {
    text-align: center;
    margin: 0;
}

.submit {
    display: flex;
    background-color: var(--orange);
    color: var(--white);
    width: 100%;
    justify-content: center;
    font-size: 1.1em;
    letter-spacing: 0.2em;
    border-radius: 30px;
    border: 0;
    padding: 15px;
}

.submit:hover {
    background-color: var(--white);
    color: var(--orange);
    cursor: pointer;
}

#thankyouimg {
    width: 50%;
    margin-bottom: 30px;
}

.thankyou {
    color: var(--orange);
    padding: 10px 15px;
}